{% extends "layout.njk" %}
{% block head %}
    <title>Rocketseat - Sobre</title>
    <link rel="stylesheet" href="/styles/about.css">
    <script src="https://kit.fontawesome.com/5037bef4b8.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section class="about">
        <img src="{{about.logo}}" alt="">

        <h2>{{about.title}}</h2>

        <div class="text">
            <p align="justify">{{about.description1}}
            </p>

            <p align="justify">{{about.description2}}</p>

            <div class="info">
                <h4>{{about.infoTechnologies}}</h4>
                <h4 class="social-nets">{{about.infoSocials}}</h4>
            </div>

            <div class="contents">

                <div class="images">
                    {% for image in about.images %}
                        <img src="{{image.src}}" alt="Imagem da logo : {{image.name}}">
                    {% endfor %}

                </div>

                <div class="social">
                    {% for item in about.links %}
                        <a href="{{item.url}}" id="{{item.id}}" target="_blank">
                            <i class="{{item.class}}"></i>
                        </a>
                    {% endfor %}
                </div>

            </div>

        </section>
    {% endblock %}