{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Sobre</title>
    <link rel="stylesheet" href="/styles/about.css">
    <script src="https://kit.fontawesome.com/5037bef4b8.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section class="about">
        <img src="/assets/rocketseat.jpg" alt="">

        <h2>Sobre a Rocketseat</h2>

        <div class="text">
            <p align="justify">Mais do que uma plataforma de educação em tecnologia, a Rocketseat é uma comunidade incrível de programadores em busca do próximo nível 🚀
            </p>

            <p align="justify">A Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</p>

            <div class="info">
                <h4>Principais Tecnologias</h4>
                <h4 class="social-nets">Redes Sociais</h4>
            </div>

            <div class="contents">

                <div class="images">
                    <img src="/assets/javascript.svg" alt="">
                    <img src="/assets/nodejs.svg" alt="">
                    <img src="/assets/reactjs.svg" alt="">
                    <img src="/assets/react-native.svg" alt="">
                </div>

                <div class="social">
                    <a href="https://github.com/Rocketseat" id="github" target="_blank">
                        <i class="fab fa-github"></i>
                        <a href="https://www.facebook.com/rocketseat id=" id="facebook" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/rocketseat_oficial/" id="insta" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

            </div>

        </section>
    {% endblock %}