{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Cursos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/courses.css">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Cursos</h1>
    </div>

    <section class="cards">
        {% for course in courses %}
            <div class="card" id="{{course.id}}">
                <span>{{course.position}}</span>
                <div class="image-container">
                    <img src="https://skylab.rocketseat.com.br/static/media/{{course.img}}" alt="Imagem do {{course.title}}">
                </div>
                <p>{{course.price}}</p>
                <p>
                    <strong>{{course.descriptionStrong}}</strong>
                    {{course.description}}</p>
            </div>
        {% endfor %}
    </section>

    <script src="/scripts/index.js"></script>

    {% endblock%}