{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Cursos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/courses.css">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Cursos</h1>
    </div>

    <section class="cards">
        <div class="card" id="starter">
            <span>01</span>
            <div class="image-container">
                <img src="https://skylab.rocketseat.com.br/static/media/Starter.64c237cc.svg" alt="Starter Cursos Gratuitos">
            </div>
            <p>Curso Gratuito</p>
            <p>
                <strong>Torne-se um programador desejado</strong>
                no mercado com esses cursos gratuitos</p>
        </div>

        <div class="card" id="launchbase">
            <span>02</span>
            <div class="image-container">
                <img src="https://skylab.rocketseat.com.br/static/media/LaunchBase.08285320.svg" alt="Starter Cursos Gratuitos">
            </div>
            <p>Curso Pago</p>
            <p>
                <strong>Domine a programação do zero</strong>
                e tenha acesso as melhores oportunidades do mercado</p>
        </div>

        <div class="card" id="gostack">
            <span>03</span>
            <div class="image-container">
                <img src="https://skylab.rocketseat.com.br/static/media/GoStack.83a178a0.svg" alt="Starter Cursos Gratuitos">
            </div>
            <p>Curso Pago</p>
            <p>
                <strong color="">Treinamento imersivo</strong>
                nas tecnologias mais modernas de desenvolvimento web e mobile</p>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a href="" class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="max-modal">
                <span class="material-icons">
                    zoom_out_map
                </span>
            </div>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

 <script src="/scripts/index.js"></script>

{% endblock%}