{% extends "layout.njk" %}

{% block head %}
    <title>PAGE NOT FOUND</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="not-found">
        <img src="/assets/error404.png" alt="">
        <h2>PAGE NOT FOUND</h2>
    </div>
{% endblock %}